<h1>Contact Us</h1>
       
       
     
     
       
     
      <div class="row">
     
         
        <div class="large-9 columns" role="content">
     
          <article>
     
            <h3><a href="https://github.com/razanjoshi" target="_blank">Razan Joshi</a></h3>
            <h6>Written by <a href="#">Cloudfactory</a> on August 12, 2012.</h6>
     
            <div class="row">
            <div class="large-6 columns">
                <img src="https://scontent-fra.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/p206x206/1470055_655246511164673_1655474250_n.jpg?oh=43c3420713bf7cbf1a1a8c8caacab02d&oe=55B056CC" style="max-width: 206px"/>
              </div>
              <div class="large-6 columns">
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
              </div>
              
            </div>
     
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
     
     
          </article>
     
          <hr/>
     
          <article>
     
            <h3><a href="https://github.com/rojesh" target="_blank">Roji Darling</a></h3>
            <h6>Written by <a href="#">SpeakerText</a> on August 12, 2012.</h6>
     
            <div class="row">
            <div class="large-6 columns">
               <img src="https://scontent-fra.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10616049_828855317177986_2481076434942566920_n.jpg?oh=58eb4813485ffc320240d16a20fef929&oe=55A615BE" style="max-width: 206px"/>
             </div>
              <div class="large-6 columns">
             <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
              </div>
            </div>
     
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
     
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
     
          </article>
          	
     
        </div>
     
         
     
     
         
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to hell.</p>
            </div>
          </div>
        </div>
      </footer>
