// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-container2 {
	  height: 487px;
	  width: 413px;
	  float: right;
	  margin-top: -84px;
}